section.modal--show.employer-lm#employer-lm(tabindex="-1", role="dialog", aria-labelledby="modal-label", aria-hidden="true")
  .modal-inner
    header.modal-label
      h2 Hire talent
    .modal-content
      ul
        li
          svg
            use(xlink:href="#icon-piggy-bank")
          .item
            h3 Improve efficiencies
            p Save on costs; drive up referrals, reach and branding; improve control and insights; all whilst reducing time to hire.
        li
          svg
            use(xlink:href="#icon-charts")
          .item
            h3 Improve Intelligence
            p ATS integration, Talent tracking, Analytics and Rewards all in one place.
        li
          svg
            use(xlink:href="#icon-trophy")
          .item
            h3 Improve Engagement
            p Gamified: Badges, Rewards, Leaderboards and engagement built in as standard.


  a(href="#!", class="modal-close", data-close="Close" data-dismiss="modal") x
