section.footer
  .footer-inner
    .footer-links
      svg
        use(xlink:href="svg/svgstore.svg#icon-logo")
      p PeerBrief is a revolutionary crowd sourcing referral platform that lets you earn cash from one of the most valuable assets you have — your network.
    .footer-links
      h4.footer-heading Company
      ul
        li
          a(href="http://peerbrief.com/our-story/") Our Story
        li
          a(href="http://peerbrief.com/meet-the-team/") Meet the team
        li
          a(href="http://peerbrief.com/contact-us/") Contact us
        li
          a(href="http://peerbrief.com/advisory/") Advisory
        li
          a(href="http://peerbrief.com/partners/") Partners
        li
          a(href="http://peerbrief.com/blog/") Blog
        li
          a(href="https://peerbrief.zendesk.com/hc/en-us/categories/200108404-FAQ-s/") FAQ
    .footer-links
      h4.footer-heading Help
      ul
        li
          a(href="http://peerbrief.com/earn-rewards/") Become a referrer
        li
          a(href="http://peerbrief.com/hire-talent/") Hire talent
        li
          a(href="http://peerbrief.com/how-it-works/") How it works
        li
          a(href="http://peerbrief.com/enterprise/") PeerBrief enterprise
        li
          a(href="http://peerbrief.com/info/privacy/") Privacy Policy
        li
          a(href="http://peerbrief.com/info/termsAndConditions/") Terms & Conditions
    .footer-links
      h4.footer-heading Members
      ul
        li
          a(href="https://app-qa.peerbrief.com") Referrer Login
        li
          a(href="https://app-qa.peerbrief.com") Employer Login
        li
          a(href="https://app-qa.peerbrief.com/job_board/") Browse Briefs
