head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1, maximum-scale=1', name='viewport')
  | !{ livereloadScript}
  if env.mode == 'preview'
    link(rel="stylesheet", href="vendor/css-modal/build/modal.css")
    link(rel="stylesheet", href="vendor/owl-carousel/owl-carousel/owl.carousel.css")
    link(rel="stylesheet", href="vendor/owl-carousel/owl-carousel/owl.transitions.css")
    link(rel="stylesheet", href="vendor/chosen_v1.1.0/chosen.css")
  link(rel="stylesheet", href="styles/main.css")
  unless env.mode == 'preview'
    link(rel="stylesheet", href="//cloud.typography.com/6530072/651564/css/fonts.css")
    <!--[if lt IE 9]>
    script(src="js/html5shiv.min.js")
    <![endif]-->
  title= locals.title
  body
