section.modal--show.invite-modal#invite-modal(tabindex="-1", role="dialog", aria-labelledby="modal-label", aria-hidden="true")
  .modal-inner
    header.modal-label
      h2.section-heading Want early access?
    .modal-content
      p We're in beta mode at the moment, but you can request early access below.
      form
        .fields
          label(for="your-name") Your name
          input(type="text")
        .fields
          label(for="your-email") Email
          input(type="email")
        .fields
          label(for="country") Country
          select
            option Australia
            option Singapore
            option United States
            option United Kingdom
        .fields
          label(for="occupation") Occupation
          select(name='occupation')
            option(value='') Select your occupation…
            option(data-list='accounting-list') Accounting
            option(data-list='advertising-list') Advertising
            option(data-list='design-list') Architecture & Design
            option(data-list='banking-list') Banking & Finance
            option(data-list='building-list') Building & Construction
            option(data-list='callcentre-list') Call Centre & Customer Service
            option(data-list='community-list') Community Services
            option(data-list='consulting-list') Consulting
            option(data-list='defence-list') Defence
            option(data-list='ecommerce-list') eCommerce
            option(data-list='education-list') Education & Training
            option(data-list='energy-list') Energy
            option(data-list='engineering-list') Engineering
            option(data-list='farming-list') Farming
            option(data-list='fmcg-list') FMCG
            option(data-list='goverment-list') Government
            option(data-list='hospitality-list') Hospitality & Tourism
            option(data-list='human-list') Human Resources
            option(data-list='insurance-list') Insurance
            option(data-list='it-list') Information Technology
            option(data-list='legal-list') Legal
            option(data-list='manufacturing-list') Manufacturing
            option(data-list='marcomms-list') Marcomms
            option(data-list='media-list') Media
            option(data-list='medical-list') Medical & Healthcare
            option(data-list='mining-list') Mining & Resources
            option(data-list='entertainment-list') Music & Entertainment
            option(data-list='online-list') Online Media
            option(data-list='professional-list') Professional Services
            option(data-list='real-list') Real Estate & Property
            option(data-list='recruitment-list') Recruitment
            option(data-list='retail-list') Retail
            option(data-list='sales-list') Sales
            option(data-list='science-list') Science & Technology
            option(data-list='sport-list') Sport, Fitness & Recreation
            option(data-list='superannuation-list') Superannuation
            option(data-list='transport-list') Transport & Logistics
            option(data-list='telecommunications-list') Telecommunications

        .fields
          input(type="submit", value="Let me in!")


  a(href="#!", class="modal-close", data-close="Close" data-dismiss="modal") x
