.employers
  background: white url('../images/city-bg.jpg') top center
  background-size: cover
  min-height: 500px
  padding-leader: 7
  padding-trailer: 4
  text-align: center

  > *
    center(670px)
    padding-left: 0.5em
    padding-right: 0.5em

  p
    adjust-font-size-to: 20px, 1.5
    font-weight: 300
    letter-spacing: 0.05em

.employer-cta
  padding-leader(1)

.employer-cta-btn
  btn(melon)
  &:hover
    background: shade(melon, 20%)

.employer-learn-more
  adjust-font-size-to: 13px, 1.5
  leader: 0.5, 13px
  letter-spacing: 0.05em

.employer-lm
  ul, li
    margin: 0
    list-style: none
    padding: 0

  p, h3
    margin: 0
    padding: 0

  li
    trailer: 1
    clear: both
    overflow: hidden

  h3
    adjust-font-size-to: 14px
    text-transform: uppercase
    letter-spacing: 0.05em
    color: blue

  svg
    fill: blue
    col(1/6)
    height: -rhythm(3)

  .item
    col(5/6)
