hd-underline(color=black, size=16px)
  color: color
  text-align: center
  &:after
    content: ""
    width: 30px
    display: block
    margin-left: auto
    margin-right: auto
    border-bottom-style: solid
    trailing-border: 4px, 1, size
    trailer: 1, size
    border-color: alpha(color, 30%)
