.hero
  min-height: -rhythm(27)
  background: url('../images/people-bg.jpg') center center no-repeat
  background-size: cover
  position: relative

  .lt-ie9 &
    background: url('../images/ie8-people-bg.jpg') center center no-repeat

  +below(800px)
    adjust-font-size-to: 14px
    padding-left: 0.5em
    padding-right: 0.5em

  *
    z-index: 3
    position: relative
    color: white

  &:after
    z-index: 2
    left: 0
    top: 0
    right: 0
    bottom: 0
    position: absolute
    background: alpha(blue, 85%)
    content: ""
    pointer-events: none

    .lt-ie9 &
      display: none

.hero-intro
  text-align: center

  +below(600px)
    adjust-font-size-to: 14px

.hero-callout
  font-weight: normal
  adjust-font-size-to: 48px, 2
  letter-spacing: 0.05em
  text-align: center
  text-transform: uppercase
  font-weight: 500

.hero-subline
  adjust-font-size-to: 24px, 1
  letter-spacing: 0.05em
  font-weight: 300
  text-transform: none

.hero-nav
  center(grid-width, 1em)
  padding-leader: 1
  padding-trailer: 5

.hero-logo
  svg
    margin: 0 0 0 0
    height: -rhythm(1.5)
    width: 192px

    +mobile()
      width: 9em

.hero-logo, .hero-login
  col(1/2)

.hero-login
  text-align: right

.hero-login-btn
  btn-secondary(#7EC8F2, #D4F0FF)
  rhythm: 0 0.25 0.25 0

.hero-cta
  center(400px)
  text-align: center
  padding-leader: 3

.hero-cta-btn
  btn(alpha(#212121, 0.9))
  .lt-ie9 &
    btn(#212121)
  &:hover
    background: black
  svg
    fill: white
    adjust-font-size-to: 15px, 0
    vertical-align: 0.02em

