.modal--show header
  border: none
  text-align: center
  padding-leader: 1

  > h2
    adjust-font-size-to: m, 1
    text-align: center
    margin-top: 0

.modal--show
  transition: all 0.5s
  adjust-font-size-to: 16px, 1
  color: lighten(black, 20%)

  .modal-inner
    border-radius: 3px

  .modal-close:after
    top: -rhythm(2, 12px)

  .modal-content
    border: 0
    rhythm: 1 0 1 0

  +below(30em)
    header,
    .modal-content
      border: 0

    &:before
      background-image: none
      background: blue
      box-shadow: none

    .modal-close:after
      btn-secondary(white, blue)
      adjust-font-size-to: 12px, 0.5
