.seen-on
  background: darken(white, 5%)
  text-align: center
  padding-trailer: 2

  h1
    margin: 0
    padding-leader: 1, 12px
    color: shade(white, 50%)
    adjust-font-size-to: 12px

.seen-on-list, .partner-logos
  margin: 0
  padding: 0
  list-style: none
  padding-leader: 1

  li
    margin: 0 0.5em
    display: inline-block
    border-bottom: 2px solid alpha(blue, 0.5)
    background: alpha(white, 0.8)
    padding: 1em

    +below(900px)
      leader: 0.25
      trailer: 0.25

  img
    max-height: -rhythm(1)
    vertical-align: middle

.partners
  text-align: center
  padding-leader: 3
  padding-trailer: 3
  background: darken(white, 5%)

.partner-logos
  list-style: none
  margin: 0
  padding: 0
  padding-leader: 1

  li

    img
      vertical-align: middle
      max-height: -rhythm(2)

      +mobile()
        display: block
        text-align: center
        margin: 0 auto
