<!--[if lt IE 7]>
<html class="lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="lt-ie9">
<![endif]-->
!= "<!--[if gt IE 8]><!-->"
html
  != "<!--<![endif]-->"
  include partials/head
  body
    block content
    script(src="js/foot.js")
    <!--[if lt IE 9]>
    script(src="//cdn.jsdelivr.net/nwmatcher/1.2.5/nwmatcher.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js")
    <![endif]-->
    unless env.mode == 'preview'
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-50029273-1', 'peerbrief.com');
        ga('send', 'pageview');
