mixin blurb(name)
  case name
    when 'robfanshawe'
      p Rob is the ideas man and reason we're on this journey. He has two passions in life, people and the planet and has been in the HR and Talent industry for nearly 15 years.
      p He is an advocate for innovation and challenging the status quo. He has lived and loved life in Europe, Asia and Australia and is really excited about the future.
    when 'kristiankauper'
      p Kristian is the technology innovator for PeerBrief and he keeps the server lights blinking in his spare time. He's been around the block a few times, with 20 years in high tech, recently designing massive-scale publishing systems and driving technical strategy for Yahoo! in Australia.
      p Kristian earned his degree in Computer Science at Northeastern University in Boston, US.
    when 'gabriellalagerstedt'
      p Gabriella comes from Sweden and has worked for many different companies developing front end technology with intuitive user interfaces, including Motorola Mobility. Her passion is creating simple and beautiful UI solutions using the latest technologies.
      p Gabriella has a Master of Science in Media Technology and Engineering from Linköping University, Sweden.
    when 'rajanrauniyar'
      p Raj is a software engineer Double Masters genius in I.T. and Research who loves creating innovative products. He is always happy to face challenges and always looks forward to turn the problem into a robust solution.
      p Hailing from Nepal, he is a fun loving guy and strongly believes that a determined mind always achieves the deserving goal - which is great for us and our users!
    when 'alexkerr'
      p Alex has consulted, implemented and project managed dozens of high level website builds and online campaigns over the past 15 years, helping them achieve their online goals by implementing bespoke digital strategies.
      p Alex and his team of experts loves to work at the forefront of the ever-changing digital media industry and is excited about helping PeerBrief become the game changing recruitment technology choice for companies around the world.
    when 'franciscoady'
      p Francis is passionate about creativity, strategy, communication and Surfing. He heads up marketing and public relations at PeerBrief.
      p He has an MBA in Communication Management from UTS Sydney and has overseen marcom campaigns from some of Australian’s biggest entertainment groups including multi-platinum selling rock groups, to brands such as lastminute.com, travel.com, Apple and Telstra to name a few
    when 'lukewestland'
      p Luke is a qualified solicitor turned digital tech entrepreneur from the UK and although we don't know who turned him, we're grateful. He has worked in digital for many years and loves getting involved to help with growth and development of great businesses.
      p Luke has been involved since the start, after a conversation in a pub with Rob (where all great ideas start) and is the Operations brains behind PeerBrief. Based out of the UK he also keeps an eye on everything in Europe.
    when 'justinbabet'
      p Justin is the Founder and CEO of the employment website JobAdvisor. He has been in the recruitment game for more than a decade, having been a founding member and Managing Director of one of Australia’s most highly awarded recruitment agencies, Xpand Group. He has worked with some of the world’s leading organisations, designing enterprise level employer branding and recruitment strategies. Justin is also an active member of Australia’s start-up community and advises a number of traditional and online businesses.
      p Justin has a Bachelor of Science from Sydney University, with a major in Psychology.
    when 'simonfanshawe'
      p From an engineering base, Simon developed a career into general management through to CEO level in private companies and a major multi-national (BP). He has International experience with strategic HR; identification of strategic opportunities for growth, both generic, NPD, and M&A led – all with responsibility for implementation. He has experience in Private Equity and Venture Capital funding linked to start-ups, multi stage development and rescues. He uses his extensive practical experience to drive business value to the benefit of PeerBrief’s users, clients and shareholders.
    when 'davidgray'
      p David has held numerous positions in most functional areas of both IT start-up SaaS and large enterprise businesses across multi-global geos, for which he has picked up various awards and accolades. He loves helping businesses innovate both internally and as a solutions provider with a passion for disruptive technology. He has strong relationships and experience with Partners and the Channel which will assist PeerBrief provide further value and reach to its collective customers.
    when 'jayphensimpson'
      p Jayphen has worked with (and founded) startups in a variety of roles over the years. His experience spans UX, UI and interaction design, front-end development and product management. He loves discovering simple solutions to complex problems and is a big advocate of collaborative design.
    when 'rafering'
      p A natural connector, marketing and advertising specialist, Rafe enjoys over 20 years of success in helping global clients and people find innovative ways to connect and engage. Rafe has extensive crowdsourcing experience, is an innovation industry commentator, and creates exchanges with visionary global brand leaders, innovative start-ups and inquisitive companies who recognize that their key to survival is clearly relentless reinvention.
      p Passions: People. Innovation. Creativity - wherever it's found. Specialty: Connecting people with brands to create change… for good.
